@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>S/V orbit information is well uploaded</h1>
<h1>please check the detail</h1>
<a asp-controller="Calculate" asp-action="CommonOrbit">common satelite orbit</a>
<br />
<br />
<br />
<form asp-action="DOP" asp-controller="Calculate" method="post">
    <input type="hidden" name="year" value="@ViewData["year"]">
    <input type="hidden" name="month" value="@ViewData["month"]">
    <input type="hidden" name="day" value="@ViewData["day"]" />
    X = <input type="text" name="xs" value=""><br />
    Y = <input type="text" name="ys" value=""><br />
    Z = <input type="text" name="zs" value=""><br />
    <input type="submit" value="Input the base(@ViewData["base"]) coordinate of ECEF">
</form>